html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  font-size: 20px;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0;
  gap: 10px;
  max-width: 320px;
  position: relative;
}

img {
  width: 150px;
}

input {
  color: #432000;
  background-color: #dce1eb;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  text-transform: uppercase;
}
button,
input {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

ul li {
  box-sizing: border-box;
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex-grow: 1;
  text-transform: capitalize;
}
ul li:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.old--list--item {
  background-color: grey;
  color: white;
}

.divider {
  width: 300px;
  height: 2px;
  background-color: #dce1eb;
}

.recycle-bin {
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}

/* -- UTILITY -- */

.hidden {
  display: none;
  opacity: 0;
}
